img{
    width: 60%;
    height: auto;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 22vw;
    min-width: 280px;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    border: solid black 3px;
    padding: 25px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: rgb(5, 149, 206);
}
.content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    border-radius: 3px;
    width: calc(100%/3) ;
    border: solid 1px black;
    height: 50px;
    margin: 15px;
}
select{
    outline: none;
    border: solid 1px;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    font-size: large;
}
button{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    width: 80%;
    background-color: rgb(78, 184, 226);
    border-radius: 6px;
    font-size: large;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
.content.disabled{
    opacity: 0.6;
    pointer-events:none ;
}